@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: cmyk --default;
  exclude: properties;
}

/* Optional small tweaks for better defaults */
/* Hide number input spinners/steppers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}