@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: cmyk --default;
  exclude: properties;
}

/* Optional small tweaks for better defaults */
@layer base {
  html { scroll-behavior: smooth; }
}
