---
// src/pages/index.astro
import { getCollection, type CollectionEntry } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';

// Get all rhythms and sort them
const allRhythms = (await getCollection('rhythms'))
  .sort((a: CollectionEntry<'rhythms'>, b: CollectionEntry<'rhythms'>) => a.data.order - b.data.order);
---
<MainLayout title="Rhythm Encyclopedia">
  <p>Welcome! Select a rhythm type to learn more.</p>
  <ul>
    {allRhythms.map((rhythm: CollectionEntry<'rhythms'>) => (
      <li>
        <a href={`/rhythms/${rhythm.slug}`}>
          <strong>{rhythm.data.title}</strong>
        </a>
        <p>{rhythm.data.description}</p>
      </li>
    ))}
  </ul>
</MainLayout>